body{
  font-family: "PT Serif", serif;
}

.bg-yellow{
  background-color: #FFC017; 
}

.border-bottom-dark{
  border-bottom: 1px solid #414141;
}

.h1{
  font-size: 90px;
  
}

.p1{
  font-size: 25px;
}

.btn-siyah{
  color: black;
}

.margintop{
  margin-top: 100px;
}